@font-face {
  font-family: bungee;
  src: url('../bungee.shade.ttf'),
}
#matchUp {
  background-color: #fe901d;
  color: #003b49;
  font-family: bungee;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 4fr 1fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "... vote1 ... vote2 ..."
    "... image1 or image2 ...";
  margin-bottom: 10px;
}
#image1 {
  grid-area: image1;
}
#image2 {
  grid-area: image2;
}
#vote1 {
  grid-area: vote1;
}
#vote2 {
  grid-area: vote2;
}
#or {
  grid-area: or;
}
#matchUp img {
  width: 80%;
}
